{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Portfolio Col 4 - Start Bootstrap Template{% endblock %}

{% block layoutstyle %}
    <link href="{{ asset('bundles/applicationbootstrap/css/examples/navbar_fixed_sticky_footer.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/applicationbootstrap/css/portfolio/portfolio.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block navigation %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        
            {% include 'ApplicationBootstrapBundle::_navbar.html.twig' %}
        
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
    
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Four Column Portfolio
                    <small>Secondary Text</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('application_bootstrap_start') }}">Home</a></li>
                    <li class="active">Four Column Portfolio</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{ asset('bundles/applicationbootstrap/images/750x450.png') }}" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr/>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        
    </div> <!-- /container -->
{% endblock %}