<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        
        <!-- znacznik meta dla responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>{% block title %}SB Admin - Bootstrap Admin Template{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('xfavicon.ico') }}" />
        
        <link href="{{ asset('bundles/applicationbootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/applicationbootstrap/css/admin-dashboard/sb-admin.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/applicationbootstrap/css/fonts/font-awesome/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all" />
        {% block stylesheets %}{% endblock %}
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" type="text/javascript"></script>
        <![endif]-->

        {% block jquery_version %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
        {% endblock %}
        {#
        <script type="text/javascript">
          if (typeof jQuery == 'undefined'){
            document.write(unescape('%3Cscript src="../../scripts/jquery-min.js" %3E%3C/script%3E'));
          }
        </script>
        #}
        <script src="{{ asset('bundles/applicationbootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

        {% block javascripts %}{% endblock %}

    </head>
    <body>
	    <div id="wrapper">
	        {% block navigation %}
	        <!-- Navigation -->
	        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="{{ path('_admin-dashboard_index') }}">SB Admin</a>
	            </div>
	            <!-- Top Menu Items -->
	            <ul class="nav navbar-right top-nav">
	                <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
	                    <ul class="dropdown-menu message-dropdown">
	                        <li class="message-preview">
	                            <a href="#">
	                                <div class="media">
	                                    <span class="pull-left">
	                                        <img class="media-object" src="{{ asset('bundles/applicationbootstrap/images/50x50.png') }}" alt="">
	                                    </span>
	                                    <div class="media-body">
	                                        <h5 class="media-heading"><strong>John Smith</strong>
	                                        </h5>
	                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
	                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="message-preview">
	                            <a href="#">
	                                <div class="media">
	                                    <span class="pull-left">
	                                        <img class="media-object" src="{{ asset('bundles/applicationbootstrap/images/50x50.png') }}" alt="">
	                                    </span>
	                                    <div class="media-body">
	                                        <h5 class="media-heading"><strong>John Smith</strong>
	                                        </h5>
	                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
	                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="message-preview">
	                            <a href="#">
	                                <div class="media">
	                                    <span class="pull-left">
	                                        <img class="media-object" src="{{ asset('bundles/applicationbootstrap/images/50x50.png') }}" alt="">
	                                    </span>
	                                    <div class="media-body">
	                                        <h5 class="media-heading"><strong>John Smith</strong>
	                                        </h5>
	                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
	                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="message-footer">
	                            <a href="#">Read All New Messages</a>
	                        </li>
	                    </ul>
	                </li>
	                <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
	                    <ul class="dropdown-menu alert-dropdown">
	                        <li>
	                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
	                        </li>
	                        <li>
	                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
	                        </li>
	                        <li>
	                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
	                        </li>
	                        <li>
	                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
	                        </li>
	                        <li>
	                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
	                        </li>
	                        <li>
	                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">View All</a>
	                        </li>
	                    </ul>
	                </li>
	                <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
	                    <ul class="dropdown-menu">
	                        <li>
	                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="{{ path('application_bootstrap_start') }}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
	            <div class="collapse navbar-collapse navbar-ex1-collapse">
	                <ul class="nav navbar-nav side-nav">
	                    <li class="{{ app.request.get('_route') == '_admin-dashboard_index' ? 'active' : '' }}">
	                        <a href="{{ path('_admin-dashboard_index') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
	                    </li>
	                    <li class="{{ app.request.get('_route') in [ '_admin-dashboard_charts-flot', '_admin-dashboard_charts-morris' ] ? 'active' : '' }}">
	                        <a href="javascript:;" data-toggle="collapse" data-target="#charts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts <i class="fa fa-fw fa-caret-down"></i></a>
	                        <ul id="charts" class="collapse">
	                            <li class="{{ app.request.get('_route') == '_admin-dashboard_charts-flot' ? 'active' : '' }}">
	                                <a href="{{ path('_admin-dashboard_charts-flot') }}">Flot Charts</a>
	                            </li>
	                            <li class="{{ app.request.get('_route') == '_admin-dashboard_charts-morris' ? 'active' : '' }}">
	                                <a href="{{ path('_admin-dashboard_charts-morris') }}">Morris.js Charts</a>
	                            </li>
	                        </ul>
	                    </li>
	                    <li class="{{ app.request.get('_route') == '_admin-dashboard_tables' ? 'active' : '' }}">
	                        <a href="{{ path('_admin-dashboard_tables') }}"><i class="fa fa-fw fa-table"></i> Tables</a>
	                    </li>
	                    <li class="{{ app.request.get('_route') == '_admin-dashboard_forms' ? 'active' : '' }}">
	                        <a href="{{ path('_admin-dashboard_forms') }}"><i class="fa fa-fw fa-edit"></i> Forms</a>
	                    </li>
	                    <li class="{{ app.request.get('_route') == '_admin-dashboard_elements' ? 'active' : '' }}">
	                        <a href="{{ path('_admin-dashboard_elements') }}"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
	                    </li>
	                    <li class="{{ app.request.get('_route') == '_admin-dashboard_grid' ? 'active' : '' }}">
	                        <a href="{{ path('_admin-dashboard_grid') }}"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
	                    </li>
	                    <li>
	                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
	                        <ul id="demo" class="collapse">
	                            <li>
	                                <a href="#">Dropdown Item</a>
	                            </li>
	                            <li>
	                                <a href="#">Dropdown Item</a>
	                            </li>
	                        </ul>
	                    </li>
	                    <li class="{{ app.request.get('_route') == '_admin-dashboard_blank-page' ? 'active' : '' }}">
	                        <a href="{{ path('_admin-dashboard_blank-page') }}"><i class="fa fa-fw fa-file"></i> Blank Page</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </nav>
	        {% endblock %}
	        
	        {% block body %}{% endblock %}
	        
	
	    </div>
    </body>
</html>