{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Sticky Footer and Fixed Top Navbar Example for Bootstrap{% endblock %}

{% block layoutstyle %}
    <link href="{{ asset('bundles/applicationbootstrap/css/examples/navbar_fixed_sticky_footer.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/applicationbootstrap/css/file-upload/dropzone/css/dropzone.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/applicationbootstrap/js/file-upload/dropzone/dropzone.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function() {
    
    	/*
    	var myDropzone = new Dropzone("#file-dropzone", { 
    		//url: "/web", 
            addRemoveLinks: true
        });
    	*/
        
    	//var url = "{{ asset('/web/bundles') }}";
    	
    	$("#file-dropzone").dropzone({ 
        	//url: "web/bundles/",
        	addRemoveLinks: true 
        });
    });
</script>

{% endblock %}

{% block navigation %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        
            {% include 'ApplicationBootstrapBundle::_navbar.html.twig' %}
        
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
          <h1>Sticky footer with fixed navbar</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">

			    <div ng-app="dropZone" ng-controller="dropZoneCtrl">
			        <form action="{{ path('_file-upload-dropzone') }}" class="dropzone" drop-zone="" id="file-dropzone"></form>
			    </div>

            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}