{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Sticky Footer and Fixed Top Navbar Example for Bootstrap{% endblock %}

{% block layoutstyle %}
    <link href="{{ asset('bundles/applicationbootstrap/css/examples/navbar_fixed_sticky_footer.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block navigation %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        
            {% include 'ApplicationBootstrapBundle::_navbar.html.twig' %}
        
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
          <h1>Sticky footer with fixed navbar</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
            
				{% for flashMessage in app.session.flashbag.get('contact-success') %}
	                <div class="alert alert-success">
	                    <strong>{{ flashMessage }}</strong>
	                </div>
				{% endfor %}
				
				<form role="form" action="{{ path('_file-upload-entity') }}" method="post" {{ form_enctype(form) }} novalidate>
				    {{ form_errors(form) }}
				    
		            <div class="form-group {% if form_errors(form.file) %} has-feedback has-error {% endif %}">
		                {{ form_label(form.file) }}
		                {{ form_widget(form.file) }}
		                {{ form_errors(form.file) }}
		            </div>
				
				    {{ form_rest(form) }}
				    <button type="submit" class="btn btn-primary">Zapisz</button>
				</form>
				<hr/>
				
				{% for file in files %}
					{{ file }} <br/>
					{#<a href="{{ path('_file-upload-basic-delete', { 'file': file }) }}" onclick="if(!confirm('{% trans %}Are you sure?{% endtrans %}')) { return false; }">Delete</a> |#}
				{% endfor %}
				
			</div>
		</div>
    </div> <!-- /container -->
{% endblock %}