{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Sticky Footer and Fixed Top Navbar Example for Bootstrap{% endblock %}

{% block layoutstyle %}
    <link href="{{ asset('bundles/applicationbootstrap/css/examples/navbar_fixed_sticky_footer.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/applicationbootstrap/css/mailbox/mailbox-devoops/devoops.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/applicationbootstrap/css/fonts/font-awesome/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/applicationbootstrap/css/forms/checkbox_radio/checkbox_radio_web-font.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/applicationbootstrap/js/mailbox/mailbox-devoops/devoops.js') }}" type="text/javascript"></script>
{% endblock %}

{% block navigation %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        
            {% include 'ApplicationBootstrapBundle::_navbar.html.twig' %}
        
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
          <h1>Mailbox DevOOPS</h1>
        </div>
        <div id="content" class="row full-content">
            <div class="col-xs-12">
                
				<ul id="messages-menu" class="nav msg-menu">
					<li>
						<a href="#" class="" id="msg-inbox">
							<i class="fa fa-inbox"></i>
							<span class="hidden-xs">Inbox (3)</span>
						</a>
					</li>
					<li>
						<a href="#" class="" id="msg-starred">
							<i class="fa fa-star"></i>
							<span class="hidden-xs">Starred</span>
						</a>
					</li>
					<li>
						<a href="#" class="" id="msg-important">
							<i class="fa fa-bookmark"></i>
							<span class="hidden-xs">Important</span>
						</a>
					</li>
					<li>
						<a href="#" class="" id="msg-sent">
							<i class="fa fa-reply"></i>
							<span class="hidden-xs">Sent Mail</span>
						</a>
					</li>
					<li>
						<a href="#" class="" id="msg-draft">
							<i class="fa fa-pencil"></i>
							<span class="hidden-xs">Drafts (2)</span>
						</a>
					</li>
					<li>
						<a href="#" class="" id="msg-trash">
							<i class="fa fa-trash-o"></i>
							<span class="hidden-xs">Trash</span>
						</a>
					</li>
				</ul>
                
				<div id="messages-list" class="col-xs-9 col-xs-offset-3 web-font">
					<div class="row one-list-message msg-inbox-item" id="msg-one">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Yana Z.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Happy New Year</b> Dear friend! It's title of this message I send Dear friend! It's title of this message I send Dear friend! It's title of this message I send</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-starred-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Linus T.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Announce new release</b> Hi. 3.11.xx is released!</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-inbox-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Barry O.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>All books is buyed</b> Very nice. I receive you invoice and pay.</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Daniel D.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Great news!</b> Implemented a workaround for some interrupt buggy printers</div>
						<div class="col-xs-2 message-date">02/12/14</div>
					</div>
					<div class="row one-list-message msg-inbox-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> John A.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>New movie downloaded</b> Some new sysctl entries for the parport driver.</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-starred-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Stephen R.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Specialisation:</b>  tweaking, ensuring portability, tweaking, cleaning, tweaking and occasionally debugging :-)</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-trash-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Zach B.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Congratulation!</b> You win 1000000$</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-draft-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Larry K.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>I lost you phone number</b> Please send it to my email!</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-draft-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Kevin M.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>You lost password</b> I may recover this for you.</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-starred-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Peter N.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Time is over.</b> You need goes to Hollywood.</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-inbox-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Alex L.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Mail from me</b>  Read them carefully, as they tell you what this is all about</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-important-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Dave M.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Warning</b> To find out where to send an emailed bug report, find your subsystem </div>
						<div class="col-xs-2 message-date">02/11/14</div>
					</div>
					<div class="row one-list-message msg-important-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Alax K.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Info for you</b> Use that information to fill in all fields of the bug report form</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-sent-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Kai W.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>Good news.</b> Fix escaped markup in folder comparisons</div>
						<div class="col-xs-2 message-date">12/31/13</div>
					</div>
					<div class="row one-list-message msg-sent-item">
						<div class="col-xs-2 checkbox">
							<label>
								<input type="checkbox"> Steve O.
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-8 message-title"><b>New work for you.</b> Requred translations for English, Dutch, Spanish, French, Slovak</div>
						<div class="col-xs-2 message-date">02/15/14</div>
					</div>
					<div class="row one-list-message msg-one-item" style="display: none;">
						<div class="box">
							<div class="avatar">
								<img src="{{ asset('bundles/applicationbootstrap/images/50x50.png') }}" alt="Jane" />
							</div>
							<div class="page-feed-content">
								<small class="time">Jane Devops, 12 min ago</small>
								<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
								<div class="likebox">
									<ul class="nav navbar-nav">
										<li><i class="fa fa-thumbs-up"></i> 138</li>
										<li><i class="fa fa-thumbs-down"></i> 47</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
                
            </div>
        </div>
        <hr/>
    </div> <!-- /container -->
{% endblock %}